/*
https://coolors.co/a30015-bfb48f-f2efe9-252627-191919
A30015 - red
B49E6A - tan
E6DBD0 - "almond"
252627 - lighter black
191919 - black basically
link color: #aa515d - maybe change later, hard to read at footer
*/

/* Global styles
-------------------------------------------------------*/
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    color: #191919;
    margin: 0;
    padding: 0;
    font-family:'Inter', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
img{
    width: 300px;
}
a{
    color: #920518;
}
a:hover{
    text-decoration: none;
}
h1, h2{
    font-family: 'Anton', sans-serif;
    margin: 0;
}
h1{
    text-shadow: 4px 4px #252627;
    font-size: 50px;
    letter-spacing: 4px;
}
h2{
    font-size: 25px;
    letter-spacing: 2px;
}

.content-wrap{
    width: 900px;
    margin: 0 auto;
    padding: 60px 0;
}
/* Profile
-------------------------------------------------------*/
header{
    background: #A30015;
    color: #e6dbd0;
}
/* Projects
-------------------------------------------------------*/
.projects{
    background: #e6dbd0;
}
.project a{
color: #A30015;
}
.projects .btn{
    color: #e6dbd0;
    background: #A30015;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects .btn:hover{
    background: rgba(163, 0, 21, 80%);
}
.project-item img{
    float: left;
    margin-right: 20px;
}
.project-item{
    overflow: hidden;
    border-bottom: 3px solid #252627;
padding: 25px 0;
}
/* Work Experience
-------------------------------------------------------*/
.work{
    background: #b49e6a;
}
/* Education
-------------------------------------------------------*/
.Education{
    background: #e6dbd0;
}
/* Contact styles
-------------------------------------------------------*/
footer{
    background: #252627;
    color: #e6dbd0;
}
footer a{
    color: #e6dbd0;
}